{% extends 'adminpanel/a_base1.html' %}

{% block content %} 

<div class="container p-1">
    <h4>Edit Coupon</h4>
</div>
    <div class="container p-3 user-login-container">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="code" class="form-label">Coupon Code:</label>
                <input type="text" id="code" name="code" class="form-control" value="{{ coupon.code }}" required>
            </div>
            
            <div class="mb-3">
                <label for="discount" class="form-label">Discount:</label>
                <input type="number" id="discount" name="discount" step="0.01" class="form-control" value="{{ coupon.discount }}" required>
            </div>
            
            <div class="mb-3">
                <label for="valid_from" class="form-label">Valid From:</label>
                <input type="datetime-local" id="valid_from" name="valid_from" class="form-control" value="{{ coupon.valid_from|date:'Y-m-d\TH:i' }}" required>
            <div class="mb-3">
                <label for="valid_to" class="form-label">Valid To:</label>
                <input type="datetime-local" id="valid_to" name="valid_to" class="form-control" value="{{ coupon.valid_to|date:'Y-m-d\TH:i' }}" required>
            </div>

            <div class="mb-3">
                <label for="minimum_purchase" class="form-label">Minimum Purchase:</label>
                <input type="number" id="minimum_purchase" name="minimum_purchase" step="0.01" class="form-control" value="{{ coupon.minimum_purchase }}" required>
            </div>
            
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="active" name="active" {% if coupon.active %}checked{% endif %}>
                <label class="form-check-label" for="active">Active</label>
            </div>
            
            <button type="submit" class="btn btn-primary">Save Changes</button>
            ||<a href="/adminpanel/coupon/"><span>Go Back</span></a>
        </form>
    </div>


    

{% endblock content %} 
