{% extends 'adminpanel/a_base1.html' %}

{% block content %}
  <!-- Displaying a form to edit an existing offer -->
  <div class="container p-3">
      <h4>Update Offer</h4>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ offer.name }}" required>
            {% if error_message %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                    {{ error_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="datetime-local" id="start_date" name="start_date" class="form-control" value="{{ offer.start_date|date:'Y-m-d\TH:i' }}" required>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="datetime-local" id="end_date" name="end_date" class="form-control" value="{{ offer.end_date|date:'Y-m-d\TH:i' }}">
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" id="active" name="active" class="form-check-input" {% if offer.active %}checked{% endif %}>
            <label for="active" class="form-check-label">Active:</label>
        </div>
        <button type="submit" class="btn btn-primary">Update Offer</button>
        ||<a href="/adminpanel/offers/"><span>Go Back</span></a>
    </form>
    <!---CONTAINER END-->
  </div> 


  <style>
    /* Styles for the messages container */
    ul.messages {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* Styles for individual message types */
    ul.messages li {
        margin-bottom: 5px;
        padding: 5px;
    }

    ul.messages li.error {
        color: red;
        background-color: #ffe5e5;
        border: 1px solid #dd0000;
    }

    ul.messages li.success {
        color: green;
        background-color: #e5ffe5;
        border: 1px solid #00dd00;
    }

    /* Add styles for other message types as needed */

</style>
{% endblock content %} 
