{% extends 'userprofile/user_base_1.html' %}
{% block content %}


  <h2>My Orders</h2><br>

  <div class="card mb=2">
    <div class="card-header">
        <h5>Personal Information</h5>
        <p>Name: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>      
    </div>
</div><br>
  
  <!-- Add additional user information as needed -->

<div>
    <div class="container">
        <h4>Order Summary</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Total Bill</th>
                <th>Payment Status</th>
                <th>Payment Method</th>
                <th>Delivery Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                {% if order.fulfillment_status == 'Cancelled' %}
                <td>{{ order.order_number |slice:":25" }}</td>                
                {% else %}
                <td><a href="/userprofile/my_order_detail/{{order.pk}}/">{{ order.order_number |slice:":25" }}</a></td>
                {% endif %}
                <td>{{ order.created_at |date:"jS F Y"}}</td>
                <td>{{ order.get_cart_total }}</td>
                <td>{{ order.payment_status }}</td>
                <td>{{ order.payment_method }}</td>
                {% if order.fulfillment_status == 'Cancelled' %}
                <td class="cancelled-status">{{ order.fulfillment_status }}</td>                
                {% else %}
                <td>{{ order.fulfillment_status }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>



                {% comment %} 
                {% for order in orders %}
                <div>
                    <div class="container">
                                        <!--Card Body Starts-->
                                        <h6 class="mt-4">Order Number : {{order.order_number}}</h6>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Variant</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                {% for order_item in order.orderitem_set.all %}
                                                <tr>
                                                    <td>{{ order_item.product.name }}</td>
                                                    <td>{{ order_item.variant.variant_value }}{{ order_item.variant.product.unit_of_measurement.unit }}</td>
                                                    <td>{{ order_item.quantity }}</td>
                                                    <td>{{ order_item.price }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>Shipment Cost :</td>
                                                    <td>{{ order.shipment_cost }}</td>
                                                </tr>
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td>Total Bill:</td>
                                                    <td>{{ order.get_cart_total }}</td>
                                                </tr>
                                                    
                                                
                                            </tbody>
                                        </table>
                                        
                </div>
                {% endfor %} {% endcomment %}


{% endblock content %}  