{% extends 'userprofile/user_base_1.html' %}
{% block content %}

<div class="container py-5">
    {% if error_message %}
        <div class="mt-3 alert alert-success alert-dismissible fade show" role="alert">                            
            {{ error_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %} 
    <h2>My Orders</h2><br>
  
    <div class="card mb=2">
      <div class="card-header">
          <h5>Personal Information</h5>
          <p>Name: {{ user.username }}</p>
          <p>Email: {{ user.email }}</p>      
      </div>
  </div><br>
    
    <!-- Add additional user information as needed -->
  
  <div>
      <div class="container">
          <h4>Order Summary</h4>
          <table class="table">
              <thead>
              <tr>
                  <th>Order Number</th>
                  <th>Order Date</th>
                  <th>Total Bill</th>
                  <th>Payment Status</th>
                  <th>Payment Method</th>
                  <th>Delivery Status</th>
              </tr>
              </thead>
              <tbody>
              {% for order in orders %}
              <tr>
                  {% if order.fulfillment_status == 'Cancelled' %}
                  <td>{{ order.order_number |slice:":25" }}</td>                
                  {% else %}
                  <td><a href="/userprofile/my_order_detail/{{order.pk}}/">{{ order.order_number |slice:":25" }}</a></td>
                  {% endif %}
                  <td>{{ order.created_at |date:"jS F Y"}}</td>
                  <td>{{ order.get_cart_total }}</td>
                  <td>{{ order.payment_status }}</td>
                  <td>{{ order.payment_method }}</td>
                  {% if order.fulfillment_status == 'Cancelled' %}
                  <td class="cancelled-status">{{ order.fulfillment_status }}</td>                
                  {% else %}
                  <td>{{ order.fulfillment_status }}</td>
                  {% endif %}
              </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>


{% endblock content %}  