{% extends 'base2.html' %}

{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<form method="post" action="/create_order/">
    {% csrf_token %}
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <!---ADDRESS CARD-->    
                        {% comment %} <div class="col-md-6 form-group">
                            <label for="addressee">Addressee</label>
                            <input class="form-control" type="text" name="addressee" value="{{ addressee }}" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_line1">Address Line 1</label>
                            <input class="form-control" type="text" name="address_line1" value="{{ address_line1 }}" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_line2">Address Line 2</label>
                            <input class="form-control" type="text" name="address_street" value="{{ address_street }}" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="city">City</label>
                            <input class="form-control" type="text" name="city" value="{{ address_city }}" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="state">State</label>
                            <input class="form-control" type="text" name="state" value="{{ address_state }}" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="country">Country</label>
                            <input class="form-control" type="text" name="country" value="{{ address_country }}" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="zip_code">ZIP Code</label>
                            <input class="form-control" type="text" name="zip_code" value="{{ address_pincode }}" placeholder="123">
                        </div>                 {% endcomment %}
                        
                        
                        <div class="col-md-6 form-group">
                            <label for="addressee">Addressee</label>
                            <input class="form-control" type="text" name="addressee" id="addressee" placeholder="addressee" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_line1">Address Line 1</label>
                            <input class="form-control" type="text" name="address_line1" id="address_line1" placeholder="123 Street" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_street">Address Line 2</label>
                            <input class="form-control" type="text" name="address_street" id="address_street" placeholder="123 Street" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="city">City</label>
                            <input class="form-control" type="text" name="city" id="city" placeholder="City" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="state">State</label>
                            <input class="form-control" type="text" name="state" id="state" placeholder="state" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="country">Country</label>
                            <input class="form-control" type="text" name="country" id="country" placeholder="Country" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="zip_code">ZIP Code</label>
                            <input class="form-control" type="text" name="zip_code" id="zip_code" placeholder="123" required>
                        </div>                        
                        <!---ADDRESS CARD-->
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <!---DEFAULT ONLY-->
                        {% comment %} <div class="col-md-6 form-group">
                            <label for="addressee">Addressee</label>
                            <input class="form-control" type="text" name="addressee" value="{{ addressee }}" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_line1">Address Line 1</label>
                            <input class="form-control" type="text" name="address_line1" value="{{ address_line1 }}" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_line2">Address Line 2</label>
                            <input class="form-control" type="text" name="address_street" value="{{ address_street }}" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="city">City</label>
                            <input class="form-control" type="text" name="city" value="{{ address_city }}" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="state">State</label>
                            <input class="form-control" type="text" name="state" value="{{ address_state }}" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="country">Country</label>
                            <input class="form-control" type="text" name="country" value="{{ address_country }}" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="zip_code">ZIP Code</label>
                            <input class="form-control" type="text" name="zip_code" value="{{ address_pincode }}" placeholder="123">
                        </div>                        {% endcomment %}
                        <!---DEFAULT ONLY-->

                        {% comment %} <div class="col-md-6 form-group">
                            <label for="addressee">Addressee</label>
                            <input class="form-control" type="text" name="addressee_md" id="addressee_md" placeholder="addressee" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_line1">Address Line 1</label>
                            <input class="form-control" type="text" name="address_line1_md" id="address_line1_md" placeholder="123 Street" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="address_street">Address Line 2</label>
                            <input class="form-control" type="text" name="address_street_md" id="address_street_md" placeholder="123 Street" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="city">City</label>
                            <input class="form-control" type="text" name="city_md" id="city_md" placeholder="City" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="state">State</label>
                            <input class="form-control" type="text" name="state_md" id="state_md" placeholder="state" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="country">Country</label>
                            <input class="form-control" type="text" name="country_md" id="country_md" placeholder="Country" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="zip_code">ZIP Code</label>
                            <input class="form-control" type="text" name="zip_code_md" id="zip_code_md" placeholder="123" required>
                        </div> {% endcomment %}
                    </div>
                </div>
                <!---CHANGE ADDRESS-->
                <div class="card">
                    <div class="col-md-6 form-group">
                        <label for="change_address">Change Shipping Address</label>
                        <select class="form-control" name="change_address" id="change_address">
                            <option value="">Select Address</option>
                            {% for address in addresses %}
                                <option value="{{ address.id }}">{{ address.address_line1 }}, {{ address.street }}, {{ address.city }}, {{ address.state }}, {{ address.country }}, {{ address.pin_code }}</option>
                            {% endfor %}
                        </select>
                        <br> 
                        <span><a href="#" id="ship_to_address">Ship to this Address</a></span>
                    </div>
                </div>
                <!---CHANGE ADDRESS-->
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for cart_item in cart_items %}
                        <div class="d-flex justify-content-between">
                            <p>{{ cart_item.product.name }} {{ cart_item.get_variant_value }}{{ cart_item.product.unit_of_measurement.unit }} x {{ cart_item.quantity }}</p>
                            <pre>  </pre><p>₹{{ cart_item.get_item_total }}</p>
                        </div>
                        {% endfor %}
                        
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹{{sub_total}}</h6>
                            <input class="form-control" type="hidden" name="sub_total" value="{{sub_total}}">

                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹10</h6>
                            <input class="form-control" type="hidden" name="shipment_cost" value="10">
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹{{total}}</h5>                            
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="cod" value="COD" required>
                                <label class="custom-control-label" for="cod">COD</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" value="paypal" required>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        {% comment %} <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div> {% endcomment %}
                        {% comment %} <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Checkout End -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {        
        $('#ship_to_address').click(function(event) {
            event.preventDefault();
            console.log("Clicked")
    
            var selectedAddressId = $('#change_address').val();
            console.log("AddressId =",selectedAddressId )
            
            if (selectedAddressId !== '') {
                $.ajax({
                    url: '/get-address/',
                    method: 'GET',
                    data: { address_id: selectedAddressId },
                    success: function(response) {
                        updateAddressFields(response);
                    },
                    error: function() {
                        console.log('Error retrieving address details.');
                    }
                });
            }
        });
    
        function updateAddressFields(address) {
            console.log('Recieved Address Data');
            $('#addressee').val(address.addressee);
            $('#address_line1').val(address.address_line1);
            $('#address_street').val(address.street);
            $('#city').val(address.city);
            $('#state').val(address.state);
            $('#country').val(address.country);
            $('#zip_code').val(address.pin_code);
        }
    });    
</script>


{% endblock content %} 