{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Carousel-->
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 410px;">
                <img class="img-fluid" src="{% static 'carousel/Carousal_British_rose_HPC.jpeg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">50% Off on Your First Order</h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Use Coupon Code: 'FIRSTBUY'</h3>
                        <a href="/search-products/" class="btn btn-light py-2 px-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 410px;">
                <img class="img-fluid" src="{% static 'carousel/Carousal_British_rose_HPC.jpeg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">35% Off for Your Orders, Today and Tomorrow</h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Use Coupon Code: 'MJPAL'</h3>
                        <a href="/search-products/" class="btn btn-light py-2 px-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
    <!-- Carousel End-->

    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        
        <div class="row px-xl-5 pb-3">
            {% for category in categories %}                        
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    
                        <p class="text-right">{{ category.count_products }} Products</p>
                        <a href="/category_page/{{category.id}}/" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="{{ category.image.url }}" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold m-0">{{category.name}}</h5>
                    
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">{{offer_products_count}} Products</p>
                    <a href="/offers/" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="{% static 'carousel/OFFER.jpg' %}" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Offers</h5>
                </div>
            </div>
        </div>

    </div>
    <!-- Categories End -->

{% endblock content %}
