{% extends 'base2.html' %}

{% block content %}
{% comment %} <h1>Product Details</h1> {% endcomment %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-1">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
          <h1 class="font-weight-semi-bold text-uppercase mb-3">Product Detail</h1>
          <div class="d-inline-flex">
              <p class="m-0"><a href="/">Home</a></p>
              <p class="m-0 px-2">-</p>
              <p class="m-0">Product Detail</p>
          </div>
      </div>
    </div>
  <!-- Page Header End -->

  <!-- Menubar -->
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
        <a href="/" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Skin&nbsp;&amp;&nbsp;Scent</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/search-products/" class="nav-item nav-link">Shop</a>
                <a href="/contact/" class="nav-item nav-link">Contact</a>
            </div>
            <div class="navbar-nav ml-auto py-0">
                {% if username != None %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown">{{username}}<i class="fa fa-angle-down float-right mt-1"></i></a>
                    <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                        <a href="/userprofile/" class="dropdown-item">Profile Settings</a>
                        <a href="/authapp/signout/" class="dropdown-item">Logout</a>                                    
                    </div>
                </div>
                {% else %}
                <a href="/authapp/signin/" class="nav-item nav-link">Login</a>
                <a href="/authapp/signup/" class="nav-item nav-link">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
<!-- Menubar -->

<div class="container-fluid py-5">
    <div class="row px-xl-5">        

        <div class="col-lg-5 pb-5">
            {% comment %} <div id="product-carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner border">
                {% for image in images_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img class="w-100 h-100" src="{{ image.image.url }}" alt="Image" onclick="changeMainImage(this.src)">
                </div>                
                {% endfor %}                
              </div> {% endcomment %}

              <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                  {% for image in images_list %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="w-100 h-100" src="{{ image.image.url }}" alt="Image" onmousemove="zoomImage(event, this)" onmouseleave="resetZoomedImage()">
                    {% comment %} onclick="changeMainImage(this.src)" onmousemove="zoomImage(event, this)" {% endcomment %}
                  </div>                
                  {% endfor %}                
                </div>
              </div>
              
              <div id="zoomed-image-container">
                <img id="zoomed-image" src="" alt="Zoomed Image">
              </div>        


              <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                <i class="fa fa-2x fa-angle-left text-dark"></i>
              </a>
              <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                <i class="fa fa-2x fa-angle-right text-dark"></i>
              </a>
            
        </div>        
        
        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{ product_obj.name }}</h3>
            <!----Make Below, type="hidden"-->
            <input type="hidden"  id="product-id" value="{{ product_obj.pk }}">
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            {% comment %} {% if variant_obj %}
            <h3 class="font-weight-semi-bold mb-4">₹{{ variant_obj.0.price }}</h3>
            {% endif %} {% endcomment %}
            
            {% comment %} {% if variant_obj %}
              {% if product_has_offer %}
              <h3 class="font-weight-semi-bold mb-4">₹<span id="strike-price"><del>{{ variant_obj.0.price }}</del> {{discount_percent}}% Off</span></h3>
              <h3 class="font-weight-semi-bold mb-4">₹<span id="new-price">{{ variant_obj.0.price }}</span></h3>              
              {% else %}
              <h3 class="font-weight-semi-bold mb-4">₹<span id="selected-price">{{ variant_obj.0.price }}</span></h3>              
              {% endif %}
            {% endif %} {% endcomment %}
            
            {% if product_has_offer %}
            {% comment %} <h3 class="font-weight-semi-bold mb-4">₹<span id="strike-price"><del>{{ variant_obj.0.price }}</del></span> {{discount_percent}}% Off</h3> {% endcomment %}
            <h3 class="font-weight-semi-bold mb-4"><span id="strike-price"></span></h3>
            {% endif %}
            {% comment %} <h3 class="font-weight-semi-bold mb-4">₹<span id="selected-price">{{ variant_obj.0.price }}</span></h3> {% endcomment %}
            <h3 class="font-weight-semi-bold mb-4"><span id="selected-price"></span></h3>
            
            <p class="mb-4 short-description">{{ product_obj.description }}</p>
                        
            <div class="d-flex mb-3">
              <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
              {% comment %} <form action="/add_to_cart/{{ variant.id }}/" method="POST"> {% endcomment %}
                <form id="add-to-cart-form" action="" method="POST">
                {% csrf_token %}
                {% for variant in variant_obj %}
                  <div class="custom-control custom-radio custom-control-inline">
                    {% comment %} <input type="radio" class="custom-control-input" id="size-{{ variant.variant_value }}" name="size" value="{{ variant.id }}" required> {% endcomment %}
                    
                    <input type="radio" class="custom-control-input" id="size-{{ variant.variant_value }}" name="size" value="{{ variant.id }}" data-variant-price="{{ variant.price }}" data-variant-quantity="{{ variant.quantity }}" required>

                    <label class="custom-control-label" for="size-{{ variant.variant_value }}">{{ variant.variant_value }} {{ unit }}</label>
                    <span class="price" data-variant-price="{{ variant.price }}"></span>
                    <span class="quantity" data-variant-quantity="{{ variant.quantity }}"></span>
                    <span class="id" data-variant-id="{{ variant.id }}"></span>
                  </div>
                {% endfor %}

                {% if warn_message %}
                  <div class="mt-3 alert alert-danger alert-dismissible fade show" role="alert">                            
                    {{ warn_message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% else %}
                  <div class="mt-3 alert alert-success alert-dismissible fade show" role="alert">                            
                      {{ success_message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                {% endif %}
                
                
                {% comment %} <div class="d-flex align-items-center mb-4 pt-2">
                  <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                      <button class="btn btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1" id="count-input" name="count_input">
                    <div class="input-group-btn">
                      <button class="btn btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div> {% endcomment %}
                <div class="mt-3">                  
                    {% if username is None %}
                      <a href="/cart_signin/{{ product_obj.pk }}/" class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Signin & Add To Cart
                      </a>
                    {% else %}
                      {% comment %} <button type="submit" class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                      </button> {% endcomment %}
                        <!-- Add to Cart button when product is in stock -->
                        <button type="submit" id="addToCartBtn" class="btn btn-primary px-3">
                          <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                        </button>
                        <!-- Out of Stock button when product is not in stock -->
                        <button id="outOfStockBtn" class="btn btn-danger px-3" style="display: none;">
                          Out Of Stock
                        </button>
                    {% endif %}
                  
                </div>
              </form>
            </div>
            
           
            <p>In Stock: <span id="selected-quantity">{{ variant_obj.0.quantity }}</span></p>            
            {% comment %} <p>Selected Variant Id: <span id="selected-value2">{{ variant_obj.0.id }}</span></p>            
            <p>Selected Price: <span id="selected-price2">{{ variant_obj.0.price }}</span></p>{% endcomment %}

            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p>{{ product_obj.description }}</p>
                    {% comment %} <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                    <p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem tempor. Gubergren amet amet labore sadipscing clita clita diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum. Ea erat sed et diam takimata sed justo. Magna takimata justo et amet magna et.</p> {% endcomment %}
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Additional Information</h4>
                    <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                </li>
                                <li class="list-group-item px-0">
                                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                </li>
                                <li class="list-group-item px-0">
                                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                </li>
                                <li class="list-group-item px-0">
                                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                </li>
                              </ul> 
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                </li>
                                <li class="list-group-item px-0">
                                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                </li>
                                <li class="list-group-item px-0">
                                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                </li>
                                <li class="list-group-item px-0">
                                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                </li>
                              </ul> 
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="mb-4">1 review for "Colorful Stylish Shirt"</h4>
                            <div class="media mb-4">
                                <img src="" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                    <div class="text-primary mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="mb-4">Leave a review</h4>
                            <small>Your email address will not be published. Required fields are marked *</small>
                            <div class="d-flex my-3">
                                <p class="mb-0 mr-2">Your Rating * :</p>
                                <div class="text-primary">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="message">Your Review *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">Your Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Your Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


<script>
  window.onload = function() {
    ////////////////////////////////
    // PRODUCT-DETAIL / Add to Cart 
    ////////////////////////////////
    
    // Vanilla JavaScript code
    const form = document.getElementById('add-to-cart-form');
    const radioInputs = form.querySelectorAll('input[type="radio"]');

    radioInputs.forEach((input) => {
      input.addEventListener('change', (event) => {
        const variantId = event.target.value;
        const actionUrl = `/add_to_cart/${variantId}/`;
        form.action = actionUrl;
      });
    });
    
    // Other scripts...       
    
    
    // Place your other JavaScript code here
  };
</script>

<!---RADIO BUTTON-->
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
      $('input[type="radio"]').on('change', function() {
          var selectedPrice = parseFloat($(this).data('variant-price'));
          var selectedQuantity = $(this).data('variant-quantity');
          var selectedValue = $(this).val();
  
          $('#selected-price').text(selectedPrice);
          $('#selected-quantity').text(selectedQuantity);
          //$('#selected-value2').text(selectedValue);
          //$('#selected-price2').text(selectedPrice);

          updateAddToCartButton(selectedQuantity);
  
          // Check if there is a discount percentage to display the strike-through price.
          var discountPercent = '{{ discount_percent }}';
          if (discountPercent) {
              var strikePrice = parseFloat(selectedPrice);
              var discountAmount = strikePrice * parseFloat(discountPercent) / 100;
              var discountedPrice = strikePrice - discountAmount;
              $('#strike-price').html('₹' + '<del>' + strikePrice.toFixed(2) + '</del> ' + discountPercent + '% Off' );
              $('#selected-price').html('₹' + discountedPrice.toFixed(2));
          } else {
              // If there is no discount, remove the strike-through price.
              //$('#strike-price').html('');
              $('#selected-price').html('₹' + selectedPrice.toFixed(2));
          }
  
          // Storing variables
          var VariantStock = selectedQuantity;
          var selectedVariantValue = selectedValue;
          var selectedVariantPrice = selectedPrice;
  
          // Perform any additional actions based on the selected variant.
          // For example, you can update the Add to Cart form action with the selected variant ID.
          //$('#add-to-cart-form').attr('action', '/add_to_cart/' + selectedVariantValue + '/');
      });

      // Function to show/hide the appropriate button based on selectedQuantity
      function updateAddToCartButton(selectedQuantity) {
        if (selectedQuantity === 0) {
          $('#addToCartBtn').hide();
          $('#outOfStockBtn').show();
        } else {
          $('#addToCartBtn').show();
          $('#outOfStockBtn').hide();
        }
      }



      var discountPercent = '{{ discount_percent }}';
          if (discountPercent) {
            $('#selected-price').html('');
          }
        

  });

  // When the user clicks the "Out Of Stock" button, prevent form submission
  $('#outOfStockBtn').on('click', function(event) {
    event.preventDefault();
  });
  </script>

{% endblock content %}
